#root {
    height: 100vh;
}

.create-habit-popup{
    background: #E5EAD7;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    gap: 2vh;
}

.create-habit-button {
    color: #ffffff;
    background: #7D944D;
    border: 5px solid #E0E3CF;
    font-size: 10vh;
    font-weight: 600;
    border-radius: 500px;
    height: 14vh;
    width: 14vh;
}

.habit-input {
    width: 80vw;
}

p {
    margin: 0 0 -1vh 10vw;
    align-self: flex-start;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    color: #4F3422;
}

.repeat-row {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}


