#root {
    background: #F7F4F2;
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

.profile {
    display: flex;
    justify-content: flex-end;
}

.profile-icon img {
    height: 5vh;
    border: 0.5px solid #E0E3CF;
    padding: 1vh;
    border-radius: 200px;
}

.dates-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
    font-weight: bold;
    margin-top: -5vh;
}

.date {
    color: #4F3422;
    font-family: 'Urbanist', sans-serif;
    font-size: 8.5vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}


.habits-list {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
}

.habit-body {
    width: 75%;
    display: flex;
    margin: 1vh auto;
    padding: 2vh;
    align-items: center;
    background: #7D944D;
    justify-content: space-between;
    border-radius: 10vh;
    border: 2px solid #E0E3CF;
    color: #ffffff;
}

.habit-body-done {
    width: 75%;
    display: flex;
    margin: 1vh auto;
    padding: 2vh;
    align-items: center;
    background: #E0E3CF;
    justify-content: space-between;
    border-radius: 10vh;
    border: 2px solid #E0E3CF;
    color: #7D944D;
}

button {
    border-width: 0;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:active {

}

.change-date-button {
    height: 7vh;
    background: none;
    border: none;
}

.change-date-button img {
    max-height: 100%;
    max-width: 100%;
}

.habit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.edit img {
    height: 3.5vh;
    width: 3.5vh;
}

.delete img {
    height: 3.5vh;
    width: 3.5vh;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 4px; /* Optional: for rounded corners */
}

/* Hide the default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a square box for the checkbox */
.custom-checkbox .checkmark {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* When the checkbox is checked, apply the custom PNG as the tick */
.custom-checkbox input:checked + .checkmark {
    background-image: url('./Tick.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.create-habit-button {
    color: #ffffff;
    background: #7D944D;
    border: 5px solid #E0E3CF;
    font-size: 10vh;
    font-weight: 600;
    border-radius: 500px;
    height: 14vh;
    width: 14vh;
    margin: 0 auto;
}

